/* Common Shared Styles */
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
 nav li{ 
    display: inline;
    list-style: none;
    margin: 51px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.nav-title{
    color:#181818;

    /* font-family: Open Sans; */
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    border-radius: 5px;
     background: #FD6E0A;
     border: 0;
     color: white;
     font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
     
}
/* header reletaed styles */
.head{
    background-color: #FFF8F3;;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
}
.banner .profile-pic{
    width: 500px;
}